body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    width: 80px;
}
nav{
    width: 60%;
    margin-left: 20%;
    text-align: center;
}
ul{
    list-style: none;
}
/* Le damos hover para que al señarlo cambie de color de fondo*/
li:hover{
    background-color: lightgray;
}
a{
    text-decoration: none;
    color: black;
}
/* Le damos hover para que al señarlo cambie de color */
a:hover{
    color: white;
}
/*  */
.enabled-menu{
    display: block;
}
.disabled-menu{
    display: none;
}